input:focus {
    outline: none;
}

html {
    width: 70%;
    margin: 0 15%;
    padding: 20px;
}

#modes {
    text-align: right;
}

#timer {
    margin-top: 3px;
}

.mode, #help {
    margin: 4px 10px;
    padding: 3px 6px;
    font-family: monospace;
    color: white;
    background-color: rgb(2, 2, 88);
    border: 2px solid black;
    cursor: pointer;
    font-size: 16px;
    border-radius: 3px;
}

#pointsNumberContainer {
    position: absolute;
    z-index: -1;
    background-color: black;
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    top: 22%;
    left: 13%;
    transform: rotate(-45deg);
}

#help {
    box-shadow: none;
    margin-left: 0;
}

.mode.selected, .mode:hover {
    box-shadow: 1px 1px 1px 4px gray;
}

#playlists {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    padding-top: 90px;
}

#playlists .playlist {
    transition-property: transform;
    transition-timing-function: cubic-bezier(.29, 1.01, 1, -0.68);
    transition-duration: 0.3s;
    margin: 0 15px 100px 15px;
    height: 400px;
    padding: 5px;
    border-radius: 10px;
    border: 5px solid black;
    transform: rotate(10deg);
    cursor: pointer;
    z-index: 3;
}

.playlistLinkStyle {
    text-align: center;
    font-size: 50px;
    position: fixed;
    width: 100%;
    margin-top: -72px;
}

.playlistLinkStyle > span:first-child {
    position: absolute;
    margin-top: -310px;
    margin-left: -28px;
    font-size: 300px;
}

#playlists .playlist:hover {
    transition-property: transform;
    transition-timing-function: cubic-bezier(.29, 1.01, 1, -0.68);
    transition-duration: 0.3s;
    transform: none;
}

.playlist:hover .playlistLinkStyle {
    width: 31%;
}

#playlists .playlist p {
    display: block;
    text-align: center;
}

#playlists .playlist .musicNumber {
    text-align: right;
    font-style: italic;
    font-family: serif;
    font-size: 15px;
    font-weight: 700;
}

#playlistHeader {
    padding-top: 170px;
}

#playlistHeaderForm {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
}

#audioGuessSong {
    width: 10%;
    position: absolute;
    margin-top: -16px;
    margin-left: 10%;
}

#playlistHeaderForm input {
    margin: 0 15px;
    border-radius: 3px;
    padding: 5px 8px;
    border: navajowhite;
    box-shadow: 2px 2px 6px gray;
    color: rgb(2, 2, 88);
    font-size: large;
}

#playlistHeaderForm > input:first-child {
    margin-left: 0;
}

#playlistHeaderForm > input:last-child {
    margin-right: 0;
}

#playlistSuits {
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    text-align: center;
}

.answerSuggestion {
    padding: 3px 8px;
    font-style: italic;
    border: 3px double rgb(11, 11, 49);
    background-color: rgb(31, 49, 65);
    color: white;
    font-weight: 700;
    cursor: pointer;
    margin: 0 15px;
}

.answerSuggestion:hover {
    border: 3px solid rgb(11, 11, 49);
}
