#modes {
    text-align: right;
}

.mode {
    margin: 4px 10px;
    padding: 3px 6px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    background-color: rgb(2, 2, 88);
    color: white;
    border: 2px solid black;
}

.mode.selected, .mode:hover {
    box-shadow: 1px 1px 1px 4px gray;
}

#playlistSuits {
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    text-align: center;
}

.answerSuggestion {
    padding: 3px 8px;
    font-style: italic;
    border: 3px double rgb(11, 11, 49);
    background-color: rgb(31, 49, 65);
    color: white;
    font-weight: 700;
    cursor: pointer;
}

.answerSuggestion:hover {
    border: 3px solid rgb(11, 11, 49);
}
